<hello name="{{ name }}"></hello>

<ul class="nav nav-pills">
  <li class="nav-item active">
    <a class="nav-link active" routerLink="home">Home</a>
  </li>
<!--
  <li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" href="#" aria-haspopup="true" role="button" aria-expanded="true">User</a>
   <div class="dropdown-menu">
      <a class="dropdown-item">Register</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item">Register</a>
   </div>
</li>
-->
  <li class="nav-item">
    <a 
      class="nav-link" routerLink="login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="register"> Register </a>
  </li>
</ul>
<br/>
<div class="row">
  <div class="col-6">
    <button class="btn btn-primary" routerLink="">Home</button>
  </div>
  <div class="col-6">
    <button class="btn btn-info" routerLink="login">Login</button>
  </div>
</div>



<router-outlet></router-outlet>