<!--<hello name="{{ name }}"></hello>
<p> menu is {{ menu=='login' }} {{ menu}} </p>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a (click)="menu='home'" 
      class="nav-link" 
      [class.active]="menu=='home'"
      routerLink="home">Home</a>
  </li>

  <li class="nav-item" >
    <a 
      class="nav-link" [class.active]="menu=='login'"
       (click)="menu='login'" routerLink="login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="menu=='register'" (click)="menu='register'" routerLink="register"> Register </a>
  </li>
</ul>

<router-outlet></router-outlet>--> <mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [routerLink]="['/']">Home</button>
    <button mat-button [routerLink]="['login']">Login</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>