<mat-card>
  <ng-template *ngIf="email;then loggedIn else notLoggedIn"></ng-template>
  <ng-template #loggedIn>
    Welcome {{ email }} <br><br>
     <pre> {{ products | json }} </pre>
    <mat-form-field class="el-full-width">
      <mat-label>Search</mat-label>
      <input matInput class=""> 
    </mat-form-field>

    <div *ngFor="let product of products; index as i">
      {{ getKey(product)[i] }}
      <div *ngFor="let item of product.softcare">
        {{ item | json }}
      </div>
      <!--
      <ul class="list-group">
        <li *ngFor="let item of product[i+1];">
          {{ item |json }}
        </li>        
      </ul>
      -->
    </div>
    
  <button (click)="logout()">Logout</button>
  </ng-template>
  <ng-template #notLoggedIn>
    Please login first<br><br>

  <button mat-button routerLink="/login">login</button>

  </ng-template>
  
</mat-card>