<h2>Registration form</h2>
<form [formGroup]="registrationFrom">
  <div class="form-group">
    <label for="fullName">Full name</label>
    <input formControlName="fullName" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="fullName">Email address</label>
    <input formControlName="emailAddress" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="fullName">Password</label>
    <input formControlName="password" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="fullName">Confirm password</label>
    <input formControlName="confirmPassword" class="form-control" type="text">
  </div>
  <button>Register</button>
</form>