<!--<h2>Registration form</h2>
<form [formGroup]="registrationFrom">
  <div class="form-group">
    <label for="fullName">Full name</label>
    <input formControlName="fullName" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="fullName">Email address</label>
    <input formControlName="emailAddress" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="fullName">Password</label>
    <input formControlName="password" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="fullName">Confirm password</label>
    <input formControlName="confirmPassword" class="form-control" type="text">
  </div>
  <button>Register</button>
</form>-->

<mat-card class="registration-card">
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Full name</mat-label>
        <input type="text" matInput class="el-full-width">
      </mat-form-field>  
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input type="text" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="text" class="el-full-width" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cnfirm Password</mat-label>
        <input matInput type="text" class="el-full-width" />
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
